{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <link rel="stylesheet" href={% static "css/mystyle.css" %}
  </head>
  <body>
    <h1> This is index.html from Template/first_app folder</h1>
    {% for acc in access_records %}

      <tr>
        <td>{{ acc.name }}</td>
        <td>{{ acc.date }} </td>
      </tr>
      <br/>
    {% endfor %}
    <br/>
    <img src="{% static "images/pic.jpg" %}" alt="Django"/>
  </body>
</html>
